
<div class="container">
<h1 style="color: #FEBD5D;">TU VINILO</h1>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative image_container">
            <div class="col-p-4 d-flex flex-column position static">

              <img src="{{imageSrc}}">
            <div>{{messageText}}</div> 

            <img class="d-none d-lg-block d-print-block" src="../../../assets/resources/vinylpers.png">


            </div>
        </div>


        <div class="precio">
            <h1 class="d-inline-black mb-3">$100.00</h1>
            
            <button type="button" class="btn btn-lg bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>
          </div>
    </div>

    <div class="col-md-6">
        <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-p-4 d-flex flex-column position static">
                  
                <h3 class="d-inline-black mb-2">PORTADA <p style="font-family: Monda; font-size: small;">(Máx. 1080x1080px)</p></h3>

    
                <div class="file btn">
                    Seleccionar Archivo
                    <input type="file" name="file"/>
                </div>

                <h3 class="d-inline-black mb-3">COLOR BASE</h3>
               


                <!-- BOTONES COLORES-->
                <div class="containerColors">
                <div class="colors">
                  


                  <button *ngFor="let imageButton of imageButtons; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul> 
                      <li data-color="#E91E63" style="background-color:#ff0000 ;"></li>
                  </ul>
                  </button>


                  <button *ngFor="let imageButton of imageButtons2; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li data-color="#9C27B0" style="background-color: #cb1598;"></li>
                  </ul>
                  </button>


                  <button *ngFor="let imageButton of imageButtons3; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li data-color="#673AB7" style="background-color:#673AB7 ;"></li>
                  </ul>
                  </button>

                  <button *ngFor="let imageButton of imageButtons4; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li data-color="#2196F3" style="background-color:#2196F3 ;"></li>
                  </ul>
                  </button>


                  <button *ngFor="let imageButton of imageButtons5; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li data-color="#4CAF50" style="background-color:#4CAF50 ;"></li>
                  </ul>
                  </button>


                  <button *ngFor="let imageButton of imageButtons6; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li data-color="#FFEB3B" style="background-color:#ffe41a ;"></li>
                  </ul>
                  </button>


                  <button *ngFor="let imageButton of imageButtons7; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li data-color="#FF9800" style="background-color:#FF9800 ;"></li>
                  </ul>
                  </button>


                  <button *ngFor="let imageButton of imageButtons8; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li data-color="#795548" style="background-color:#795548 ;"></li>
                  </ul>
                  </button>


                  <button *ngFor="let imageButton of imageButtons9; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li class="black" data-color="#9E9E9E" style="background-color: black;"></li>
                  </ul>
                  </button>


                  <button *ngFor="let imageButton of imageButtons10; let data-color = index" (click)="onClick(imageButton)" class="button variacion">
                    <ul>
                      <li data-color="#607D8B" style="background-color: white ;"></li>
                      <!-- <li data-color="#795548" style="background-color:#795548 ;"></li> -->
                  </ul>
                  </button>
                    
                </div>
                
            </div>

            <h3 class="d-inline-black mb-3">LISTA DE CANCIONES</h3>

            <div class="container text-start">
                <div class="row row-cols-2">

            <div class="col-lista">
            <p>
            <a class="btn vinilosI" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="../../../assets/resources/vinyl1.png">
              </a>
            </p>
            </div>

            <div class="col-lista">
            <p>
              <a class="btn vinilosI" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                <img src="../../../assets/resources/vinyl2.png">
              </a>
            </p>
            </div>


            <div class="col-lista">
            <div class="collapse" id="collapse1">
              <div class="card card-body" style="background-color: #F36C33; color: white;">
                     
                        <div class="float-container">

                              <ol class="list-group list-group-numbered" style="background-color: #F36C33; color: white;">
                                <div class="fw-bold"><h3>Lado A</h3></div>
                                <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: #F36C33; color: white;">
                                    <div class="ms-2 me-auto">
                                    <div class="fw-bold">LA</div>
                                    Boy Harsher
                                  </div>
                                  <span class="badge bg-primary rounded-pill">3:40</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: #FF8D5D; color: white;">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Algo Esta Cambiando</div>
                                    Julieta Venegas
                                  </div>
                                  <span class="badge bg-primary rounded-pill">2:40</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: #F36C33; color: white;">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold">Bizarre Love Triangle</div>
                                    New Order
                                  </div>
                                  <span class="badge bg-primary rounded-pill">3:20</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: #FF8D5D; color: white;">
                                    <div class="ms-2 me-auto">
                                      <div class="fw-bold">Paper Bag</div>
                                      Fiona Apple
                                    </div>
                                    <span class="badge bg-primary rounded-pill">3:20</span>
                                  </li>
                              </ol>
                       
                        
                      </div>
                    </div>
                  </div>
</div>



                <div class="col-lista">
                  <div class="collapse" id="collapse2">
                    <div class="card card-body" style="background-color: #F36C33; color: white;">
                           
                              <div class="float-container">
      
                                    <ol class="list-group list-group-numbered" style="background-color: #F36C33; color: white;">
                                      <div class="fw-bold"><h3>Lado B</h3></div>
                                      <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: #F36C33; color: white;">
                                          <div class="ms-2 me-auto">
                                          <div class="fw-bold">Secreto De Amor</div>
                                          Joan Sebastian
                                        </div>
                                        <span class="badge bg-primary rounded-pill">3:00</span>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: #FF8D5D; color: white;">
                                        <div class="ms-2 me-auto">
                                          <div class="fw-bold">All Around Me</div>
                                          Flyleaf
                                        </div>
                                        <span class="badge bg-primary rounded-pill">3:18</span>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: #F36C33; color: white;">
                                        <div class="ms-2 me-auto">
                                          <div class="fw-bold">Mariposa</div>
                                          Isabella Lovestory
                                        </div>
                                        <span class="badge bg-primary rounded-pill">3:20</span>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: #FF8D5D; color: white;">
                                          <div class="ms-2 me-auto">
                                            <div class="fw-bold">Four Out of Five</div>
                                            Arctic Monkeys
                                          </div>
                                          <span class="badge bg-primary rounded-pill">3:20</span>
                                        </li>
                                    </ol>
                             
                              
                            </div>
                          </div>
                        </div>

            </div>
            
</div>
</div>




        </div>

    </div>
</div>
</div>



