
<div class="container">
<h1>TU VINILO</h1>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-p-4 d-flex flex-column position static">
            <div class="preview">
            <img src="../../../assets/resources/vinylpers.png" alt="Vinilo">
        </div>
    </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-p-4 d-flex flex-column position static">
                  
                <h3 class="d-inline-black mb-2">PORTADA</h3>

    
                <div class="file btn btn-lg">
                    Seleccionar Archivo
                    <input type="file" name="file"/>
                </div>

                <h3 class="d-inline-black mb-3">COLOR BASE</h3>
                <div class="containerColors">
                <div class="colors">
                    <ul>
                        
                        <li data-color="#E91E63" style="background-color:#E91E63 ;"></li>
                        <li data-color="#9C27B0" style="background-color: #9C27B0;"></li>
                        <li data-color="#673AB7" style="background-color:#673AB7 ;"></li>
                        <li data-color="#2196F3" style="background-color:#2196F3 ;"></li>
                        <li data-color="#4CAF50" style="background-color:#4CAF50 ;"></li>
                        <li data-color="#FFEB3B" style="background-color:#FFEB3B ;"></li>
                        <li data-color="#FF9800" style="background-color:#FF9800 ;"></li>
                        <li data-color="#795548" style="background-color:#795548 ;"></li>
                        <li class="black" data-color="#9E9E9E" style="background-color: black;"></li>
                        <li data-color="#607D8B" style="background-color: white ;"></li>
                        <!-- <li data-color="#795548" style="background-color:#795548 ;"></li> -->
                        
                    </ul>
                </div>
                

                


            </div>

            </div>

        </div>

    </div>
</div>
</div>



