
<div class="row justify-content-between bg-black text-white">
  <div class="col-4 pt-1 text-left">


    <nav class="navbar bg-black d-flex justify-content-start">
      <div class="container-fluid">
        <form class="d-flex search-bar" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar...">
          <button class="btn" type="submit">
            <img src="../../../assets/icons/lupa.png"
            height="25"
            />
          </button>
        </form>
      </div>
    </nav>


  </div>
  <div class="col-4 text-center">
    <a href="#home-page">
      <img 
        src="../../../assets/resources/VMO2.png" class="logo"
        height="150"
        alt=""
      />
    </a>
  </div>
<div class="col-4 d-flex justify-content-end">
    <a href="/carrito"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
    </svg>
  </a>
  </div>
</div>


<div class="nav-scroller py-1 mb-2 bg-black">
  <nav class="nav d-flex justify-content-center">
    <a class="p-2 link" href="#" >Inicio</a>
    <a class="p-2 link" href="/personalizado">Personalizado</a>
    <a class="p-2 link" href="/generos">Vinilos</a>


  </nav>
</div>