<!-- INCIO P1 -->
          
<div class="contenedorI">
    <div class="DPV">
        <img src="../../../assets/resources/BVN.png" style="width: 100%">

        <div class="text">
            <h1>Diseña tu propio vinilo </h1>
            <a href="http://localhost:4200/personalizado"><button>Inicia aquí</button></a>
        </div>
    </div>     
</div> 

<!-- Ttitulo los mas vendidos -->
<div class="s1">
<div class="LMV">
<h1>Los más vendidos </h1>
</div>

<!-- seccion 1 vinilos-->

<div class="container d-flex justify-content-center mt-50 mb-50">

<div class="row">

<div class="col-md-3 mt-2">


<div class="card">
                   <div class="card-body">
                       <div class="card-img-actions">
                           
                               <img src="../../../assets/resources/VP2.png" class="card-img img-fluid" width="96" height="350" alt="">
                             
                          
                       </div>
                   </div>

                   <div class="card-body text-center">
                       <div class="mb-2">
                           <h5 class="font-weight-semibold mb-2">
                               <a href="#" class="text-light mb-2" data-abc="true">Brand New Eyes</a>
                           </h5>

                           <a href="#" class="text-light" data-abc="true">Paramore</a>
                       </div>

                       <h3 class="mb-0 font-weight-semibold">$29.99</h3>

                       <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                       
                   </div>
   </div>


           
            
</div> 

<div class="col-md-3 mt-2">


<div class="card">
                   <div class="card-body">
                       <div class="card-img-actions">
                           
                               <img src="../../../assets/resources/VSZA.png" class="card-img img-fluid" width="96" height="350" alt="">
                             
                          
                       </div>
                   </div>

                   <div class="card-body text-center">
                       <div class="mb-2">
                           <h5 class="font-weight-semibold mb-2">
                               <a href="#" class="text-light mb-2" data-abc="true">Ctrl</a>
                           </h5>

                           <a href="#" class="text-light" data-abc="true">SZA</a>
                       </div>

                       <h3 class="mb-0 font-weight-semibold">$29.99</h3>

                       

                       <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                       
                   </div>
               </div>


           
            
</div> 

<div class="col-md-3 mt-2">


<div class="card">
                   <div class="card-body">
                       <div class="card-img-actions">
                           
                               <img src="../../../assets/resources/V1.png" class="card-img img-fluid" width="96" height="350" alt="">
                             
                          
                       </div>
                   </div>

                   <div class="card-body text-center">
                       <div class="mb-2">
                           <h5 class="font-weight-semibold mb-2">
                               <a href="#" class="text-light mb-2" data-abc="true">New Life</a>
                           </h5>

                           <a href="#" class="text-light" data-abc="true">For Real This Time </a>
                       </div>

                       <h3 class="mb-0 font-weight-semibold">$29.99</h3>

                       

                       <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                       
                   </div>
               </div>


           
            
</div> 

<div class="col-md-3 mt-2">


<div class="card">
               <div class="card-body">
                   <div class="card-img-actions">
                       
                           <img src="../../../assets/resources/VNA.png" class="card-img img-fluid" width="96" height="350" alt="">
                   
                
             </div>
         </div>

         <div class="card-body text-center">
             <div class="mb-2">
                 <h5 class="font-weight-semibold mb-2">
                     <a href="#" class="text-light mb-2" data-abc="true">The New Abnormal</a>
                 </h5>

                 <a href="#" class="text-light" data-abc="true">The Strokes</a>
             </div>

             <h3 class="mb-0 font-weight-semibold">$29.99</h3>


                   <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                   
               </div>
           </div>


       
        
</div> 

<div class="col-md-3 mt-2">


<div class="card">
           <div class="card-body">
               <div class="card-img-actions">
                   
                       <img src="../../../assets/resources/VG.png" class="card-img img-fluid" width="96" height="350" alt="">
                  
               </div>
           </div>

           <div class="card-body text-center">
               <div class="mb-2">
                   <h5 class="font-weight-semibold mb-2">
                       <a href="#" class="text-light mb-2" data-abc="true">Minor</a>
                   </h5>

                   <a href="#" class="text-light" data-abc="true">Gracie Abrams</a>
               </div>

               <h3 class="mb-0 font-weight-semibold">$29.99</h3>

               

               <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

               
           </div>
       </div>  
    
</div> 

<div class="col-md-3 mt-2">

<div class="card">
         <div class="card-body">
             <div class="card-img-actions">
                 
                     <img src="../../../assets/resources/VNA.png" class="card-img img-fluid" width="96" height="350" alt="">
                   
                
             </div>
         </div>

         <div class="card-body text-center">
             <div class="mb-2">
                 <h5 class="font-weight-semibold mb-2">
                     <a href="#" class="text-light mb-2" data-abc="true">The New Abnormal</a>
                 </h5>

                 <a href="#" class="text-light" data-abc="true">The Strokes</a>
             </div>

             <h3 class="mb-0 font-weight-semibold">$29.99</h3>

             

             <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

             
         </div>
     </div>

</div> 

<div class="col-md-3 mt-2">
    
<div class="card">
         <div class="card-body">
             <div class="card-img-actions">
                 
                     <img src="../../../assets/resources/VAC.png" class="card-img img-fluid" width="96" height="350" alt="">
                   
                
             </div>
         </div>

         <div class="card-body text-center">
             <div class="mb-2">
                 <h5 class="font-weight-semibold mb-2">
                     <a href="#" class="text-light mb-2" data-abc="true">The Alien Coast</a>
                 </h5>

                 <a href="#" class="text-light" data-abc="true">St.Paul & The Broken Bones</a>
             </div>

             <h3 class="mb-0 font-weight-semibold">$29.99</h3>

             

             <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

             
         </div>
     </div>
  
</div> 

<div class="col-md-3 mt-2">
  
<div class="card">
         <div class="card-body">
             <div class="card-img-actions">
                 
                     <img src="../../../assets/resources/VR.png" class="card-img img-fluid" width="96" height="350" alt="">
                   
                
             </div>
         </div>

         <div class="card-body text-center">
             <div class="mb-2">
                 <h5 class="font-weight-semibold mb-2">
                     <a href="#" class="text-light mb-2" data-abc="true">Riot</a>
                 </h5>

                 <a href="#" class="text-light" data-abc="true">Paramore</a>
             </div>

             <h3 class="mb-0 font-weight-semibold">$29.99</h3>

             

             <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

             
         </div>
     </div>

</div> 

<div class="BVM">
<a href="http://localhost:4200/generos"><button>VER MÁS</button></a>
</div> 

</div>
</div>
</div>


<!--seccion 2 vinilos-->
<div class="S2">



<!-- Ttitulo Nuevos productos -->

<div class="LMV2">
<h1>Los Nuevos productos</h1>
</div>

<!-- Tablas -->

<div class="container d-flex justify-content-center mt-50 mb-50">

<div class="row">

<div class="col-md-3 mt-2">


<div class="card2">
                   <div class="card-body">
                       <div class="card-img-actions">
                           
                              <img src="../../../assets/resources/VTS.png" class="card-img img-fluid" width="96" height="350" alt="">
                   
                
             </div>
         </div>

         <div class="card-body text-center">
             <div class="mb-2">
                 <h5 class="font-weight-semibold mb-2">
                     <a href="#" class="text-light mb-2" data-abc="true">Blue Neighbourhood</a>
                 </h5>

                 <a href="#" class="text-light" data-abc="true">Troye Sivan</a>
             </div>

             <h3 class="mb-0 font-weight-semibold">$29.99</h3>


                       <button type="button" class="btn bg-cart2"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                       
                   </div>
   </div>


           
            
</div> 

<div class="col-md-3 mt-2">


<div class="card2">
                   <div class="card-body">
                       <div class="card-img-actions">
                           
                               <img src="../../../assets/resources/VT.png" class="card-img img-fluid" width="96" height="350" alt="">
                   
                
             </div>
         </div>

         <div class="card-body text-center">
             <div class="mb-2">
                 <h5 class="font-weight-semibold mb-2">
                     <a href="#" class="text-light mb-2" data-abc="true">Midnights</a>
                 </h5>

                 <a href="#" class="text-light" data-abc="true">Taylor Swift</a>
             </div>

             <h3 class="mb-0 font-weight-semibold">$29.99</h3>

                       

                       <button type="button" class="btn bg-cart2"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                       
                   </div>
               </div>


           
            
</div> 

<div class="col-md-3 mt-2">


<div class="card2">
                   <div class="card-body">
                       <div class="card-img-actions">
                           
                               <img src="../../../assets/resources/VBE.png" class="card-img img-fluid" width="96" height="350" alt="">
                             
                          
                       </div>
                   </div>

                   <div class="card-body text-center">
                       <div class="mb-2">
                           <h5 class="font-weight-semibold mb-2">
                               <a href="#" class="text-light mb-2" data-abc="true">Dont smile at me</a>
                           </h5>

                           <a href="#" class="text-light" data-abc="true">Billie Eilish</a>
                       </div>

                       <h3 class="mb-0 font-weight-semibold">$29.99</h3>

                       

                       <button type="button" class="btn bg-cart2"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                       
                   </div>
               </div>


           
            
</div> 

<div class="col-md-3 mt-2">


<div class="card2">
               <div class="card-body">
                   <div class="card-img-actions">
                       
                            <img src="../../../assets/resources/VU2.png" class="card-img img-fluid" width="96" height="350" alt="">
                  
               </div>
           </div>

           <div class="card-body text-center">
               <div class="mb-2">
                   <h5 class="font-weight-semibold mb-2">
                       <a href="#" class="text-light mb-2" data-abc="true">Cool</a>
                   </h5>

                   <a href="#" class="text-light" data-abc="true">U2</a>
               </div>

               <h3 class="mb-0 font-weight-semibold">$29.00</h3>


                   

                   <button type="button" class="btn bg-cart2"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                   
               </div>
           </div>


       
        
</div> 

<div class="col-md-3 mt-2">
 
<div class="card2">
           <div class="card-body">
               <div class="card-img-actions">
                   
                       <img src="../../../assets/resources/VOD.png" class="card-img img-fluid" width="96" height="350" alt="">
                  
               </div>
           </div>

           <div class="card-body text-center">
               <div class="mb-2">
                   <h5 class="font-weight-semibold mb-2">
                       <a href="#" class="text-light mb-2" data-abc="true">SOUR</a>
                   </h5>

                   <a href="#" class="text-light" data-abc="true">Olivia Rodrigo</a>
               </div>

               <h3 class="mb-0 font-weight-semibold">$29.99</h3>

               

               <button type="button" class="btn bg-cart2"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

               
           </div>
       </div>  
    
</div> 

<div class="col-md-3 mt-2">


<div class="card2">
         <div class="card-body">
             <div class="card-img-actions">
                 
                      <img src="../../../assets/resources/VA.png" class="card-img img-fluid" width="96" height="350" alt="">
                             
                          
                       </div>
                   </div>

                   <div class="card-body text-center">
                       <div class="mb-2">
                           <h5 class="font-weight-semibold mb-2">
                               <a href="#" class="text-light mb-2" data-abc="true">The Gods We Can Touch</a>
                           </h5>

                           <a href="#" class="text-light" data-abc="true">Aurora</a>
                       </div>

                       <h3 class="mb-0 font-weight-semibold">$29.99</h3>

             

             <button type="button" class="btn bg-cart2"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

             
         </div>
     </div>

</div> 

<div class="col-md-3 mt-2">


<div class="card2">
         <div class="card-body">
             <div class="card-img-actions">
                 
                     <img src="../../../assets/resources/VMR.png" class="card-img img-fluid" width="96" height="350" alt="">
                  
               </div>
           </div>

           <div class="card-body text-center">
               <div class="mb-2">
                   <h5 class="font-weight-semibold mb-2">
                       <a href="#" class="text-light mb-2" data-abc="true">The Black Parade is Dead!</a>
                   </h5>

                   <a href="#" class="text-light" data-abc="true">My Chemical Romance</a>
               </div>

               <h3 class="mb-0 font-weight-semibold">$29.99</h3>

             

             <button type="button" class="btn bg-cart2"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

             
         </div>
     </div>
  
</div> 

<div class="col-md-3 mt-2">
  
<div class="card2">
         <div class="card-body">
             <div class="card-img-actions">
                 
                     <img src="../../../assets/resources//VES.png" class="card-img img-fluid" width="96" height="350" alt="">
                   
                
             </div>
         </div>

         <div class="card-body text-center">
             <div class="mb-2">
                 <h5 class="font-weight-semibold mb-2">
                     <a href="#" class="text-light mb-2" data-abc="true">Equals</a>
                 </h5>

                 <a href="#" class="text-light" data-abc="true">Ed Sheeran</a>
             </div>

             <h3 class="mb-0 font-weight-semibold">$29.99</h3>

             

             <button type="button" class="btn bg-cart2"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

             
         </div>
     </div>

</div> 

<div class="BVM">
<a href="http://localhost:4200/generos"><button>VER MÁS</button></a>
</div> 

</div>

</div>


</div>

