

.icons{
    height: 25px;
    width: 25px;
    margin-top: 10px;
}
  @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monda&display=swap');
