<nav class="navbar navbar-expand-md navbar-dark justify-content-center">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <!--button -->
        <div class="btn-group">
        <button type="button" class="btn">Precio</button>
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
        </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/generos">Precio más bajo</a></li>
            <li><a class="dropdown-item" href="/generos">Precio más caro</a></li>
            </ul>
        </div>
        <!--button -->
        <div class="btn-group">
            <button type="button" class="btn">Título</button>
            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
            </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/generos">A-Z</a></li>
                <li><a class="dropdown-item" href="/generos">Z-A</a></li>
                </ul>
            </div>
            <!--button -->
            <div class="btn-group">
                <button type="button" class="btn">Artista</button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/generos">A-Z</a></li>
                      <li><a class="dropdown-item" href="/generos">Z-A</a></li>
                    </ul>
                </div>
                <!--button -->
                <div class="btn-group">
                    <button type="button" class="btn">Año</button>
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/generos">50s</a></li>
                        <li><a class="dropdown-item" href="/generos">60s</a></li>
                        <li><a class="dropdown-item" href="/generos">70s</a></li>
                        <li><a class="dropdown-item" href="/generos">80s</a></li>
                        <li><a class="dropdown-item" href="/generos">90s</a></li>
                        <li><a class="dropdown-item" href="/generos">10s</a></li>
                        <li><a class="dropdown-item" href="/generos">20s</a></li>
                        </ul>
                    </div>
                    <!--button -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
  





  <div class="container d-flex justify-content-center mt-50 mb-50">
            
    <div class="row">
       <div class="col-md-3 mt-2">
        
            
            <div class="card">
                                <div class="card-body">
                                    <div class="card-img-actions">
                                        
                                            <img src="../../../assets/resources/VA.png" class="card-img img-fluid" width="96" height="350" alt="">
                                          
                                       
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <div class="mb-2">
                                        <h5 class="font-weight-semibold mb-2">
                                            <a href="#" class="text-light mb-2" data-abc="true">The Gods We Can Touch</a>
                                        </h5>

                                        <a href="#" class="text-light" data-abc="true">Aurora</a>
                                    </div>

                                    <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                    

                                    <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                                    
                                </div>
                            </div>


                        
                         
       </div> 


       <div class="col-md-3 mt-2">
        
            
            <div class="card">
                                <div class="card-body">
                                    <div class="card-img-actions">
                                        
                                            <img src="../../../assets/resources/VAC.png" class="card-img img-fluid" width="96" height="350" alt="">
                                          
                                       
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <div class="mb-2">
                                        <h5 class="font-weight-semibold mb-2">
                                            <a href="#" class="text-light mb-2" data-abc="true">The Alien Coast</a>
                                        </h5>

                                        <a href="#" class="text-light" data-abc="true">St. Paul & The Broken Bones</a>
                                    </div>

                                    <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                                    

                                    <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                                    
                                </div>
                            </div>


                        
                         
       </div> 

       <div class="col-md-3 mt-2">
        
            
            <div class="card">
                                <div class="card-body">
                                    <div class="card-img-actions">
                                        
                                            <img src="../../../assets/resources/VBE.png" class="card-img img-fluid" width="96" height="350" alt="">
                                          
                                       
                                    </div>
                                </div>

                                <div class="card-body text-center">
                                    <div class="mb-2">
                                        <h5 class="font-weight-semibold mb-2">
                                            <a href="#" class="text-light mb-2" data-abc="true">dont smile at me</a>
                                        </h5>

                                        <a href="#" class="text-light" data-abc="true">Billie Eilish</a>
                                    </div>

                                    <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                                    

                                    <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                                    
                                </div>
                            </div>


                        
                         
       </div> 


       <div class="col-md-3 mt-2">
        
            
        <div class="card">
                            <div class="card-body">
                                <div class="card-img-actions">
                                    
                                        <img src="../../../assets/resources/VG.png" class="card-img img-fluid" width="96" height="350" alt="">
                                      
                                   
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <div class="mb-2">
                                    <h5 class="font-weight-semibold mb-2">
                                        <a href="#" class="text-light mb-2" data-abc="true">Minor</a>
                                    </h5>

                                    <a href="#" class="text-light" data-abc="true">Gracie Abrams</a>
                                </div>

                                <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                                

                                <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                                
                            </div>
                        </div>


                    
                     
   </div> 


   
   <div class="col-md-3 mt-2">
        
            
    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions">
                                
                                    <img src="../../../assets/resources/VMR.png" class="card-img img-fluid" width="96" height="350" alt="">
                                  
                               
                            </div>
                        </div>

                        <div class="card-body text-center">
                            <div class="mb-2">
                                <h5 class="font-weight-semibold mb-2">
                                    <a href="#" class="text-light mb-2" data-abc="true">The Black Parade is Dead!</a>
                                </h5>

                                <a href="#" class="text-light" data-abc="true">My Chemical Romance</a>
                            </div>

                            <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                            

                            <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                            
                        </div>
                    </div>


                
                 
</div> 



<div class="col-md-3 mt-2">
        
            
  <div class="card">
                      <div class="card-body">
                          <div class="card-img-actions">
                              
                                  <img src="../../../assets/resources/VNA.png" class="card-img img-fluid" width="96" height="350" alt="">
                                
                             
                          </div>
                      </div>

                      <div class="card-body text-center">
                          <div class="mb-2">
                              <h5 class="font-weight-semibold mb-2">
                                  <a href="#" class="text-light mb-2" data-abc="true">The New Abnormal</a>
                              </h5>

                              <a href="#" class="text-light" data-abc="true">The Strokes</a>
                          </div>

                          <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                          

                          <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                          
                      </div>
                  </div>


              
               
</div> 



<div class="col-md-3 mt-2">
        
            
  <div class="card">
                      <div class="card-body">
                          <div class="card-img-actions">
                              
                                  <img src="../../../assets/resources/VOD.png" class="card-img img-fluid" width="96" height="350" alt="">
                                
                             
                          </div>
                      </div>

                      <div class="card-body text-center">
                          <div class="mb-2">
                              <h5 class="font-weight-semibold mb-2">
                                  <a href="#" class="text-light mb-2" data-abc="true">SOUR</a>
                              </h5>

                              <a href="#" class="text-light" data-abc="true">Olivia Rodrigo</a>
                          </div>

                          <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                          

                          <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                          
                      </div>
                  </div>


              
               
</div> 




<div class="col-md-3 mt-2">
        
            
  <div class="card">
                      <div class="card-body">
                          <div class="card-img-actions">
                              
                                  <img src="../../../assets/resources/VP.png" class="card-img img-fluid" width="96" height="350" alt="">
                                
                             
                          </div>
                      </div>

                      <div class="card-body text-center">
                          <div class="mb-2">
                              <h5 class="font-weight-semibold mb-2">
                                  <a href="#" class="text-light mb-2" data-abc="true">This is Why</a>
                              </h5>

                              <a href="#" class="text-light" data-abc="true">Paramore</a>
                          </div>

                          <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                          

                          <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                          
                      </div>
                  </div>


              
               
</div> 



<div class="col-md-3 mt-2">
        
            
  <div class="card">
                      <div class="card-body">
                          <div class="card-img-actions">
                              
                                  <img src="../../../assets/resources/VP2.png" class="card-img img-fluid" width="96" height="350" alt="">
                                
                             
                          </div>
                      </div>

                      <div class="card-body text-center">
                          <div class="mb-2">
                              <h5 class="font-weight-semibold mb-2">
                                  <a href="#" class="text-light mb-2" data-abc="true">Brand New Eyes</a>
                              </h5>

                              <a href="#" class="text-light" data-abc="true">Paramore</a>
                          </div>

                          <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                          

                          <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                          
                      </div>
                  </div>


              
               
</div>



<div class="col-md-3 mt-2">
        
            
  <div class="card">
                      <div class="card-body">
                          <div class="card-img-actions">
                              
                                  <img src="../../../assets/resources/VR.png" class="card-img img-fluid" width="96" height="350" alt="">
                                
                             
                          </div>
                      </div>

                      <div class="card-body text-center">
                          <div class="mb-2">
                              <h5 class="font-weight-semibold mb-2">
                                  <a href="#" class="text-light mb-2" data-abc="true">Riot!</a>
                              </h5>

                              <a href="#" class="text-light" data-abc="true">Paramore</a>
                          </div>

                          <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                          

                          <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                          
                      </div>
                  </div>


              
               
</div> 




<div class="col-md-3 mt-2">
        
            
  <div class="card">
                      <div class="card-body">
                          <div class="card-img-actions">
                              
                                  <img src="../../../assets/resources/VT.png" class="card-img img-fluid" width="96" height="350" alt="">
                                
                             
                          </div>
                      </div>

                      <div class="card-body text-center">
                          <div class="mb-2">
                              <h5 class="font-weight-semibold mb-2">
                                  <a href="#" class="text-light mb-2" data-abc="true">Midnights</a>
                              </h5>

                              <a href="#" class="text-light" data-abc="true">Taylor Swift</a>
                          </div>

                          <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                          

                          <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                          
                      </div>
                  </div>


              
               
</div> 






<div class="col-md-3 mt-2">
        
            
  <div class="card">
                      <div class="card-body">
                          <div class="card-img-actions">
                              
                                  <img src="../../../assets/resources/VU2.png" class="card-img img-fluid" width="96" height="350" alt="">
                                
                             
                          </div>
                      </div>

                      <div class="card-body text-center">
                          <div class="mb-2">
                              <h5 class="font-weight-semibold mb-2">
                                  <a href="#" class="text-light mb-2" data-abc="true">Zooropa</a>
                              </h5>

                              <a href="#" class="text-light" data-abc="true">U2</a>
                          </div>

                          <h3 class="mb-0 font-weight-semibold">$30.00</h3>

                          

                          <button type="button" class="btn bg-cart"><i class="bi bi-bag-fill"></i> Agregar a mi bolsa</button>

                          
                      </div>
                  </div>


              
               
</div>




















    </div>
</div>
